name: Commit Guard

on:
  push:
    branches:
      - "**"
      - '!master'

jobs:
  releases:
    name: Check commit
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - name: checkout all the submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - run: cd submodules/flutter
      - run: git remote set-url origin https://github.com/flutter/flutter.git
      - run: submodules/flutter/bin/flutter channel stable
      - run: submodules/flutter/bin/flutter upgrade 3.13.0
      - run: submodules/flutter/bin/flutter doctor
      - run: submodules/flutter/bin/flutter pub get
      - run: submodules/flutter/bin/dart format --set-exit-if-changed lib test integration_test
      - run: submodules/flutter/bin/flutter analyze lib test integration_test
      - run: submodules/flutter/bin/flutter test