name: Commit Guard

on:
  push:
    branches:
      - '!master'

jobs:
  commit_check:
    name: Check commit
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - name: checkout all the submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - run: submodules/flutter/bin/flutter doctor
      - run: submodules/flutter/bin/flutter pub get
      - run: submodules/flutter/bin/dart format --set-exit-if-changed lib test integration_test
      - run: submodules/flutter/bin/flutter analyze lib test integration_test
      - run: submodules/flutter/bin/flutter test
