name: Commit Guard

on:
  push:
    branches:
      - "**"

jobs:
  releases:
    name: Check commit
    runs-on: ubuntu-latest
    env:
      FLUTTER_VERSION: "3.3.2"
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.3.2'
          channel: 'stable'
      - run: flutter pub get
      - run: flutter format --set-exit-if-changed .
      - run: flutter analyze